DEBUG="true"
NEXT_PUBLIC_API="${{ vars.NEXT_PUBLIC_API }}"
CONSTRUCTOR_URL="${{ vars.CONSTRUCTOR_URL }}"
NEXTAUTH_SECRET="mpfxsuQEwZsmh65jFLPa0WI06l5GvysJnUFnGOXkiu4dewdwef=mpfxsuQEwZsmh65jFLPa0WI06l5GvysJnUFnGOXkiu4="
NEXTAUTH_URL=https://sales.botmother.uz
SALES_URL="https://sales.botmother.uz"
NODE_ENV="production"
MANAGER_URL=https://botmother.uz
